# Sets
<!--
https://kotlinlang.org/docs/set-operations.html
https://www.tutorialspoint.com/kotlin/kotlin_sets.htm
https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.collections/-set/
-->
*Sets* are a collections of unique elements. 
There is no sense of ordering of elements in sets, elements only have membership in the set or not.
They implement mathematical [sets](../mathematical-basics/sets/sets.ipynb).

## Creating sets
Sets are read-only collections of values by default.
Sets are *immutable* by default.

### `setOf` function
The `setOf` function creates a read-only set from a collection of values.
The types of all the values need not be the same.

In [28]:
val theSet = setOf("one", "two", 3)
println(theSet)

[one, two, 3]

### `+` element operator
The `+` operator adds elements to a set. 
This discards duplicate elements.

In [29]:
val theSet = setOf("one", "two", "three")
val result_add = theSet + "four"
println(result_add)
val result_discard = theSet + "two"
println(result_discard)

[one, two, three, four]
[one, two, three]

### `-` element operator
The `-` operator removes elements to a set. 
This does nothing if the elements are not in the set.

In [30]:
val theSet = setOf("one", "two", "three")
val result_have = theSet - "three"
println(result_have)
val result_missing = theSet - "four"
println(result_missing)

[one, two]
[one, two, three]

### `+` and `union` set operators
The `+` and [`union`](../mathematical-basics/sets/sets.ipynb#set-Union) operators add two or more sets into a single set. 
This discards the duplicate elements.

In [31]:
val firstSet = setOf("one", "two", "three")
val secondSet = setOf("two", "three", "four", "five")
val resultSet = firstSet + secondSet
val unionSet = firstSet union secondSet
println(resultSet)
println(unionSet)

[one, two, three, four, five]
[one, two, three, four, five]

### `intersection` set operator
The [`intersect`](../mathematical-basics/sets/sets.ipynb#set-Intersection) operator collections all common elements of two or more sets into a single set.

In [32]:
val firstSet = setOf("one", "two", "three")
val secondSet = setOf("two", "three", "four", "five")
val intersectSet = firstSet intersect secondSet
println(intersectSet)

[two, three]

### `-` set operator
The `-` operator removes the elements of two or more sets from a set.

In [33]:
val firstSet = setOf("one", "two", "three")
val secondSet = setOf("two", "three", "four", "five")
    val resultSet = firstSet - secondSet
    println(resultSet)

[one]

## Accessing sets

### `size` property
The `size` property gives the total number of elements in a set.

In [19]:
val theSet = setOf("one", "two", "four", "five")
println("Size of the Set " + theSet.size)

Size of the Set 5

<!--
https://www.baeldung.com/kotlin/set-mutableset
-->
## Modifiable sets
Modifiable sets allow changing elements within the set.
Modifiable sets are *mutable*.

### `mutableSetOf` function
The `mutableSetOf` function creates a modifiable set from a collection of values.
The types of all the values need not be the same.

In [34]:
val theSet = mutableSetOf("one", "two", 3)
println(theSet)

[one, two, 3]

### `add` element function
The `add` function adds elements to a mutable set. 
This discards duplicate elements.

In [35]:
val theSet = mutableSetOf("one", "two", "three")
theSet.add("four")
println(theSet)

[one, two, three, four]

### `addAll` set function
The `addAll` function adds all elements of a set to a mutable set. 
This discards duplicate elements.

In [36]:
val firstSet = mutableSetOf("one", "two", "three")
val secondSet = mutableSetOf("two", "three", "four", "five")
firstSet.addAll(secondSet)
println(firstSet)

[one, two, three, four, five]

### `remove` element function
The `remove` function removes elements from a mutable set. 
This does nothing if the elements are not in the set.

In [37]:
val theSet = mutableSetOf("one", "two", "three")
theSet.remove("three")
println(theSet)
theSet.remove("four")
println(theSet)

[one, two]
[one, two]

### `removeAll` set function
The `removeAll` function removes all elements of a set from a mutable set. 
This does nothing for the elements not in the set.

In [38]:
val firstSet = mutableSetOf("one", "two", "three")
val secondSet = setOf("two", "three", "four", "five")
firstSet.removeAll(secondSet)
println(firstSet)

[one]

## Set tests

### `in` operator
The `in` operator can be used to check the existence of an element in a set.

In [39]:
val theSet = setOf("one", "two", "three", "four")
if("two" in theSet)
      println(true)
else
      println(false)

true

### `contains` function
The `contains` function can also be used to check the existence of an element in a set.

In [40]:
val theSet = setOf("one", "two", "three", "four")
if(theSet.contains("two"))
      println(true)
else
      println(false)

true

### `containsAll` subset function
The `containsAll` function can be used to check the whether a set is a subset of another set.

In [41]:
val firstSet = setOf("one", "two", "three", "four", "five")
val secondSet = setOf("one", "two", "three")
val thirdSet = setOf("four", "five", "six")
if (firstSet.containsAll(secondSet))
      println(true)
else
      println(false)
if (firstSet.containsAll(thirdSet))
      println(true)
else
      println(false)

true
false

### `isEmpty` function
The `isEmpty` function returns true if the collection is empty (contains no elements), false otherwise.

In [42]:
val theSet = setOf("one", "two", "three", "four")
if(theSet.isEmpty())
      println(true)
else
      println(false)

false

### `isNotEmpty` function
The `isNotEmpty` function returns false if the collection is empty (contains no elements), true otherwise.

In [43]:
val theSet = setOf("one", "two", "three", "four")
if(theSet.isNotEmpty())
      println(true)
else
      println(false)

true

### `max` function
The `max` function returns the largest value in a numerical set.

In [44]:
val theSet = setOf(1, 2, 3, 4)
println(theSet.max())

4

### `min` function
The `min` function returns the smallest value in a numerical set.

In [45]:
val theSet = setOf(1, 2, 3, 4)
println(theSet.max())

4

### `random` function
The `random` function returns a random element from a set.

In [46]:
val theSet = setOf("one", "two", "three", "four")
println(theSet.random())

two

### `sum` function
The `sum` function returns the sum of all values in a numerical set.

In [47]:
val theSet = setOf(1, 2, 3, 4)
println(theSet.sum())

10

## Looping through sets

### `for` loop
The `for` loop can perform an action on each element of a set.
This loop uses the `in` operator to select each element of the set.
Elements have no order in a set so there is no assurance of the order the elements will be processed.

In [48]:
val theSet = setOf("one", "two", "three", "four")
for (elem in theSet)
      println(elem)

one
two
three
four

### `forEach` loop
The `foreach` loop is a variation of the `for` loop to perform an action on each element of a set.
This loop uses the `it` operator to access the element currently selected in the loop.

In [49]:
val theSet = setOf("one", "two", "three", "four")
theSet.forEach { println(it) }

one
two
three
four

## Other set functions

### `toString` function
The `toString` function converts to a set to a readable form.

In [50]:
val theSet = setOf("one", "two", "three", "four")
println(theSet.toString())

[one, two, three, four]