<a id="strings"></a>
# Strings

Strings are text that is made up of characters.
Characters consist of digits 0 to 9, letters a to z and A to Z, punctuation and *whitespace*.
Whitespace include spaces and tabs.
Strings have operations and functions that combine, remove, search, and replace for parts of text. 
This is the string `"hello"`. Each character has a *position* in the string, and the positions start counting from `0` rather than `1`.

<img src="string1.jpg" width="400">

## Creating strings
Strings are text that can be inside two double quotes `"`.

In [6]:
println("text")

this is a double-quoted string.

### Escape characters
Escape characters are characters following a *backslash* character `\` in a string. 
If you need to put both a double quote and a single quote in a string, you can use a single-quoted or double-quoted string,
you use an *escape character* backward-quote `\` to keep that quote from ending the string.

In [7]:
print("this double-quoted string has both a double quote \" inside.")

this double-quoted string has both a double quote " inside.

The backslash gives a special meaning to the character that follows it. 
`\t` means the tab key on the keyboard, and `\n` is the enter key, called a [*newline*](#glossary_newline). 
Because the backslash `\`  changes the meaning of the character that follows it, to really get a backslash you need to use `\\`.

In [10]:
println("this is the tab \t character")
println("this is the enter \n character")
println("this is the backslash \\ character")

this is the tab 	 character
this is the enter
 character
this is the backslash \ character

Strings beginning and ending with three double quotes `"""` can go across lines. 
Escape characters do not work in these strings.

In [2]:
print("""
This string is on 
two lines, but tab \t does not get translated.
""")

This string is on
two lines, but tab \t does not get translated.

## Operations on strings
Strings can be combined with the `+` add operator.

In [5]:
var s = "Again and "
s = s + "again ..."
println(s)

Again and again ...

Strings and numbers can be combined with the `+` operator.

In [12]:
val s = "abc" + 3
println(s)

abc3

The `+=` shortcut works as well.

In [13]:
var s = "Again and "
s += "again ..."
println(s)

Again and again ...

## Getting data from strings
Characters in strings can accessed with '[' and ']', where *string*`[`*position*`]` gives the character at *position* in the string. 
Python operators and functions count character positions from 0 rather than 1. 
The string can count *position* from the beginning of the string, or if *position* is negative, it can count from the back of the string.

In [16]:
val s = "A red hat"
println(s)
println(s[0])
println(s[3])

A red hat
A
e

### `get` function 
The `get` function also returns the character at a position.

In [20]:
val s = "A red hat"
println(s)
println(s.get(0))
println(s.get(3))

A red hat
A
e

### `index` function 
The `indexOf` function returns the first position, starting at 0, a substring occurs in a string.

In [26]:
print("one two three".indexOf("two"))

4

### `length` property 
The `length` property gives the value of the string length.

In [17]:
val s = "A red hat"
println(s.length)

9

### `toLowerCase` function
The `toLowerCase` function converts all alphabet characters in a string into lowercase.

In [32]:
val s = "TEXT"
print(s.toLowerCase())

text

### `toUpperCase` function
The `toUpperCase` function converts all alphabet characters in a string into uppercase.

In [22]:
val s = "text"
print(s.toUpperCase())

THE CAT IN THE HAT IS AT THE STORE

### `subSequence` function 
The `subSequence` function returns a *substring* of a string. 
The substring starts at the *start* position and ends just before the *end* position

In [21]:
val s = "A red hat"
println(s.subSequence(1, 5))

 red

### String templates
Variables and expression can be substituted inside strings using a `$`.
Expression values can be substituted by prefixing with `$` and surrounding the expression with curly braces.

In [27]:
val x = 2
println("x = $x")
println("x + 2 = ${x+2}")

x = 2
x + 2 = 4

### `in` test
`in` checks if a substring is present in a string.

In [28]:
println("two" in "one two three")
println("four" in "one two three")

true
false

### `!in` test
`!in` checks if a substring is not present in a string.

In [31]:
println("two" !in "one two three")
println("four" !in "one two three")

false
true